<div class="navbar-wagon">
  <!-- Logo -->
  <div class="container-logo">
    <a href="/" class="navbar-wagon-brand">
      <img src="https://cdn.dribbble.com/users/58309/screenshots/2931208/cocktail_schubert_dribbble-01.png" class="avatar" alt="logo">
    </a>
    <h1 class="site-name">Peaking Blinders</h1>
  </div>
</div>
